<nav class="">
            <div class="">
 
                <div class="">

                    <img src="" alt="">
                    
                    <span>User Name</span>
                    <span>@username</span>

                </div>

                <a href="{% url 'home' %}" ><img >Home</a>
                <a href="{% url 'profile' %}" ><img >Profile</a>
                <a href="{% url 'messages' %}" ><img >Messages</a>
                <a href="{% url 'bookmarks' %}" ><img >Bookmarks</a>
                <a href="{% url 'notifications' %}" ><img >Notifications</a>
                <a href="{% url 'settings' %}" ><img >Settings</a>

                <div class="">
                    <h1>weather update</h1>

                </div>
            </div>
</nav>