<div class="p-9 border-l-2 border-tweeter-purple
                    space-y-40">

            <!-- search bar -->
            <div class = >
                <input class="p-3 border border-tweeter-purple rounded-full"
                    type="text" placeholder="Search..">
            </div>

            <!-- trends bar -->
            <div class=" p-9 border border-tweeter-purple rounded-2xl">
                
                <h1 class="text-2xl">What's Happening?</h1>

                <!-- trends containers -->
                <div class="flex m-2 space-x-2" >
                    <p >Dota 2 is back</p><span class="text-red-400">LIVE</span>
                </div>
                <div class="flex m-2 space-x-2" >
                    <p >Software engineer is the standard</p><span class="text-red-400">LIVE</span>
                </div>
                <div class="flex m-2 space-x-2" >
                    <p >Computer Scientists being the light in space discovery</p><span class="text-red-400">LIVE</span>
                </div>
                <div class="flex m-2 space-x-2" >
                    <p>MANNNN</p><span class="text-red-400">trending</span>
                </div>
                <div class="flex m-2 space-x-2" >
                    <p >Dota 2 is back</p><span class="text-red-400">LIVE</span>
                </div>


            </div>
            
            <!-- message bar -->
            <div class="p-6 m-5 border border-tweeter-purple rounded-t-2xl rounded-bl-2xl
                        flex space-x-96 ">
                <h3>Messages</h3>
                <button class="hover:text-tweeter-purple">view</button>
            </div>
        </div>